html, body {
    height: 100vh;
    width: 100vw;
}

#intro {
    padding-top:100px;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

section {
    margin: 0;
    padding: 10px;
}

.aboutme-text {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,0.25);
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
}

.skills-text {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,0.2);
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
}

.page-header {
    text-shadow: 2px 2px #ffffff;
    font-size: 48px;
    text-transform: uppercase;
}

.centered-section {
    text-align: center;
}

.fill-section {
    height: calc(100vh - 40px);
    width: 100vw;
}

.skill-icon {
    height: 10%;
    width: 10%;
    vertical-align: -30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255,255,255,.15)
}
.skill-icon:hover {
    cursor: pointer;
    -webkit-filter: brightness(0.75);
    filter: brightness(0.75);
}


.img-trans {
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.img-trans:hover {
    opacity: 0.7;
}

.green-text { color: #178A27; }
.blue-text { color: #1686C1; }
.gray-text { color: #1686C1; }
.green-btn { background: #178A27; }
.green-btn:hover { background: #449D44; }
.blue-btn { background: #1686C1; }
.blue-btn:hover { background: #31B0D5; }
.red-btn { background: #852406; }
.red-btn:hover { background: #C9302C; }
.project-content {
    background: #F2F2F2;
    padding-bottom: 40px;
    opacity: 0.75;
}
.project-title {
    padding: 0 20px;
    text-align: center;    
}
.project-description {
    padding: 0 20px 35px;
    text-align: left;
    color: #333333;
    margin-top: 15px;
}
.project-link {
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.project-link:hover, .project-link:link, .project-link:visited  {
  color: white;
  text-decoration: none;
}