/* Navbar */
.navbar {
    opacity: 0.95;
}

/* Introduction Section */
#intro {
    padding-top: 100px;
    height: 100vh;
}
.welcome {
    font-variant: small-caps;
    color: white;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    font-size: calc(1em + 10vw);
    padding-top: 50px;
    letter-spacing: 5px;
}
.tagline {
    font-variant: small-caps;
    color: white;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    font-size: calc(1em + 2vw);
}
/* @media screen and (min-width: 600px) and (max-width: 767px) {
    .tagline {
        font-size: 5vw;
    }
} 
@media screen and (min-width: 768px) and (max-width: 991px) {
    .tagline {
        font-size: 5vw;
    }
} 
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .tagline {
        font-size: 5vw;
    }
} 
@media screen and (min-width: 1200px) {
    .tagline {
        font-size: 5vw;
    }
} */
.scrolldown a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.scrolldown a:hover {
    opacity: .5;
    cursor: pointer;
}
#intro a {
    padding-top: 100px;
}
#intro a span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -12px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}


/* Add filters to the parallax images */
.parallax-mirror {
    -webkit-filter: blur(1.25px) brightness(65%) contrast(90%);
            filter: blur(1.25px) brightness(65%) contrast(90%);
}


/* Images */
img {
    max-width: 100%;
    height: auto;
    border: none;
}
.img-trans {
    cursor: pointer;
    transition: 0.3s;
}
.img-trans:hover {
    filter: brightness(.85);
}

/* Sections */
section {
    margin: 0;
    padding: 10px;
}
.page-header {
    text-shadow: 0px 0px 20px #0f0, -1px -1px #0f0, 1px 1px #0f0;
    font-size: 48px;
    text-transform: uppercase;
}
.centered-section {
    text-align: center;
}
/* About Me Section */
.about-text {
    font-size: calc(1em + 0.4vw);
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
}


/* Experience Section */
/* Timeline taken and modified from http://bestjquery.com/tutorial/timeline/demo50/ */
:root{
    --white: #fff;
    --black: #000;
    --color_1: #EA2027;
    --color_2: #1F5295;
    --color_3: #89b743;
}
.main-timeline{ font-family: 'Niramit', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{ margin: 0 -15px; }
.main-timeline .timeline-content{
    color: var(--color_1);
    text-align: left;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-year{
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
/* Controls the timeline bar */
.main-timeline .timeline-year:after{
    content: '';
    height: 60px;
    width: 107%;
    background-color: var(--color_1);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    opacity: 0.8;
    -webkit-clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
/* Timeline Year */
.main-timeline .timeline-year span{
    color: var(--white);
    background-color: var(--color_1);
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 120px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff;
    display: block;
}
.main-timeline .inner-content{
    padding: 0 10px 10px 15px;
    border-left: 10px solid var(--color_1);
    height: 550px;
}
.main-timeline .title{
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 15px 0;
    text-align: center;
    text-shadow: 0px 0px 2px #fff, -1px -1px #fff, 1px 1px #fff;

}
.main-timeline .description{
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    font-size: 15px;
    font-style: italic;
}

/* Creates blue timeline piece */
.main-timeline .timeline.blue .title{
    color: var(--color_2);
}
.main-timeline .timeline.blue .timeline-year:after,
.main-timeline .timeline.blue .timeline-year span{
    background-color: var(--color_2);
}
.main-timeline .timeline.blue .inner-content{ 
    border-left-color: var(--color_2); 
    height: 550px;
}

/* Creates green timeline piece */
.main-timeline .timeline.green .title{
    color: var(--color_3);
}
.main-timeline .timeline.green .timeline-year:after,
.main-timeline .timeline.green .timeline-year span{
    background-color: var(--color_3);
}
.main-timeline .timeline.green .inner-content{ 
    border-left-color: var(--color_3);
    height: 550px;
}

/* Responsive timeline */
@media screen and (max-width:767px){
    .main-timeline .timeline{ margin: 0 0 15px; }
    .main-timeline .timeline-year:after{ width: 100%; }
    .main-timeline .inner-content{ height: 100% }
}
.experience-link .btn{
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.experience-link:hover, .experience-link:link, .experience-link:visited  {
    color: white;
    text-decoration: none;
}
.job-resp {
    color: white; 
    font-size: 14px;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    background-color: rgba(0, 0, 0, 0.05);

}
 #timeline1, #timeline2, #timeline3 {
    opacity: 0;
}


/* Skills section */
.skills-row {
    padding-bottom: 20px;
    text-align: center;
}
.skill-icon {
    height: 160px;
    width: 160px;
    -webkit-filter: brightness(1.25);
            filter: brightness(1.25);
    padding-top: 20px;
    padding-bottom: 25px;
    opacity: 0;
}
.skill-icon:hover {
    cursor: pointer;
    -webkit-filter: brightness(1.75);
            filter: brightness(1.75);
    transform: scale(1.6)
}
.skills-text {
    font-size: 14px;
    color: white;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Projects Section */
.green-text { color: #178A27; }
.blue-text { color: #1686C1; }
.gray-text { color: #1686C1; }
.green-btn { background: #178A27; }
.green-btn:hover { background: #449D44; }
.blue-btn { background: #1686C1; }
.blue-btn:hover { background: #31B0D5; }
.red-btn { background: #b33d19; }
.red-btn:hover { background: rgb(230, 67, 61); }
.project-content {
    background: #F2F2F2;
    padding-bottom: 25px;
    opacity: 0.75;
    border-style: solid;
    border-color: royalblue;
}
.project-title {
    padding: 0 20px;
    text-align: center;
    font-variant: small-caps; 
}
.project-description {
    padding: 0 20px 25px;
    text-align: left;
    color: #333333;
    margin-top: 15px;
}
.project-link {
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.project-link:hover, .project-link:link, .project-link:visited  {
  color: white;
  text-decoration: none;
}
.item {
    height: 78vh;
    position: relative;
}
.carousel {
    position: relative;
}
.carousel-inner {
    height: 100vh;
    margin-bottom: 30px;
}
.carousel-indicators {
    position: absolute;
    margin-bottom: -30px;
}
ol.carousel-indicators li {
    background: gray;

}
 ol.carousel-indicators li.active {
    background: gold;
 }


/* Hobbies Section */
.bjj-header {
    color: blue;
    font-variant: small-caps;
    text-shadow: 0px 0px 10px #fff, -1px -1px #fff, 1px 1px #fff;
    padding-bottom: 20px;
}
#bjj-cycler img {
    position: absolute;
    z-index:1;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    height: 400px;
    width: 100%;
}
.music-header {
    color: green;
    font-variant: small-caps;
    text-shadow: 0px 0px 10px #fff, -.5px -.5px #fff, .5px .5px #fff;
    padding-bottom: 20px;
}
#music-cycler img {
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    height: 400px;
    width: 100%;
}
.vg-header {
    color: red;
    font-variant: small-caps;
    text-shadow: 0px 0px 10px #fff, -.5px -.5px #fff, .5px .5px #fff;
    padding-bottom: 20px;
}
#bjj-cycler, #music-cycler, #vg-cycler {
    position:relative;
    height: 400px;
}
#vg-cycler img {
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    height: 400px;
    width: 100%;
}
#bjj-cycler img.active, #music-cycler img.active, #vg-cycler img.active {z-index:3;}
.hobbies-text {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}